<section class="ui raised segment">
    <h2>  <i class="teal large plus circle icon"></i>Add A New Category</h2>

    <form class="ui form" action="/add-category" method="POST" >
        <div class="inline field">
            <input type="text" name="name" placeholder="Give your POI a name here" required>
            <button class="ui teal submit button" value="submit">Add Category</button>
        </div>
    </form>

    {{> error }}
</section>