<div class="ui centered card">
    <div class="image">
        <img src="{{url}}">
    </div>
    <div class="content">

        <p>{{public_id}}</p>

        <a href="delete-image/{{_id}}"class="ui icon button">
            <i class="red icon trash"></i></a>
    </div>
</div>