<section class="ui raised segment">
    <div class="ui grid">
        <aside class="ui four wide column"><img src="../images/waterford_greenway.jpg" class="ui medium image"/></aside>
        <article class="twelve wide column">
            <div class="ui raised very padded container segment">
                <form class="ui form" action="/home" method="POST">
                        {{> filter-category}}
                    <button class="ui teal submit right floated button" value="Submit">Filter By Category</button>
                </form>
            {{> error }}
            </div>
           {{> poi-table }}
            {{> error }}
        </article>
    </div>
</section>