<!--
Author: Sarah Barron
College: Waterford Institute of Technology
Course: Hdip Computer Science
Module: Enterprise Web Development
Assigment 1: POI's

This is the Navigation menu for the welcome page
-->

<nav class="ui inverted menu">
    <header class="header item"> <a href="/"> Points Of Interest </a> </header>
    <div class="right menu">
        <a id="signup" class="item" href="/signup"> Signup</a>
        <a id="login" class="item" href="/login">  Login</a>
    </div>
</nav>

<script>
    $("#{{_id}}").addClass("active teal item");
</script>