{{> mainmenu}}

<div class="ui grid">
    <div class="eight wide column">
        {{> add-category}}
    </div>
    <div class="eight wide column">
        {{> delete-category}}
    </div>
</div>



<div class="ui raised very padded container segment">
    <h2>  <i class="teal large filter icon"></i>Filter POI's By Category</h2>

    <form class = "ui form" action="/filter-category" method="POST">
        {{> filter-category}}
        <button class="ui teal submit right floated button" value="Submit">Filter by Category</button>
    </form>

    {{> poi-table}}

</div>

