<nav class="ui inverted menu">
    <header class="header item"><a href="/"> Points of Interest </a></header>
    <div class="right menu">
        <a class="active item" href="/home">Add a POI</a>
        <a class="item" href="/allpois">List POIs </a>
        <a class="item" href="/logout"> Logout</a>
    </div>
</nav>

<section class="ui raised segment">

    {{> add-poi-form}}

    <div class="ui  divider"></div>

    <div class="ui teal progress" data-percent="${progress}" id="mainprogress">
        <div class="bar"></div>
    </div>

</section>