{{> mainmenu _id="home"}}

<section class="ui raised segment">
    <section class="ui segment">
        <div class="ui grid">
            <h2>  <i class="teal large hiking icon"></i>LIST OF YOUR - POINTS OF INTEREST</h2>
        </div>
    </section>
    {{> poi-list}}
    <div class="ui  divider"></div>
    {{> add-poi-form}}



</section>