{{> mainmenu _id="home"}}

<section class="ui raised segment">
    <section class="ui segment">
        <div class="ui grid">
            <h2>LIST OF YOUR - POINTS OF INTEREST</h2>
        </div>
    </section>
    {{> poi-list}}
    {{> add-poi-form}}

    <div class="ui  divider"></div>

    <div class="ui teal progress" data-percent="${progress}" id="mainprogress">
        <div class="bar"></div>
    </div>

</section>