<!--
Author: Sarah Barron
College: Waterford Institute of Technology
Course: Hdip Computer Science
Module: Enterprise Web Development
Assigment 1: POI's

Home page
-->

{{> welcomemenu}}

<section class="ui stacked segment">
    <div class="ui grid">
        <aside class="six wide column"><img src="images/waterford_greenway.jpg" class="ui medium image" /></aside>
        <article class="ten wide column">
            <header class="ui  header">Points of Interest</header>
            <p>Get started adding the points of interest!</p>
            {{> error}}
        </article>
    </div>
</section>
